/* utilisé dans les /jeux */
.app-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin:auto;
}

.app-canvas {
    display: block;
    float: left;
    border: 1px solid black;
    background-color: white;
    margin: 10px 10px;
    overflow: hidden;
}

.app-commandes {
    display: block;
    float: left;
    border: 1px solid black;
    height: 400px;
    width: 300px;
    margin: 10px 10px;
    padding: 10px;
    text-align: center;
}

.app-commandes-up {
    display: block;
    border: 1px solid black;
    width: 780px;
    padding: 10px;
    text-align: center;
}

.math-proof {
    border: 1px solid black;
    padding: 20px;
}

input[type=number]{ /* retire les petites flèches */
    -moz-appearance: textfield;
    appearance: textfield;
    text-align: center;
}

input[type=range]{
    width: 60%;
}

select{
    width: 60%;
}


@media screen and (max-width: 1060px) {  
    .app-canvas {
        height : auto !important;
        aspect-ratio : 1 / 1 !important;
        width:min(100vw, 80vh) !important;
    }

    .app-commandes {
        height : auto !important;
        aspect-ratio : 3 / 5 !important;
        width:min(100vw, 80vh) !important;
    }
}