/* faire les deux colonnes dans dessins/gribouillages */

.dessins-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin:auto;
}
.dessins-col {
    width: 400px;
    float: left;
    padding: 20px;
}
@media screen and (max-width: 940px) {
    .dessins-col {
        float: none;
    }
}
.dessins-col > figure {
    margin: 20px 0px;
}
.dessins-col > figure > a > img {
    padding: 0px;
    width: 100%;
}
.dessins-col > figure > figcaption {
    text-align: center;  
    font-style: italic;
    font-size: 16px;
}
.dessins-col > figure > a:hover, .dessins-col > figure > a:focus {
    background-color: transparent;
}