/* les figimages utilisées dans /dessins et /images */

.figimage, .figimage-deux {
    padding-bottom: 30px;
    max-width: 500px;
    margin: auto;
}

.figimage > a:hover, .figimage > a:focus, .figimage-deux > a:hover, .figimage-deux > a:focus {
    background-color: transparent;
}
.figimage > * > img, .figimage > img {
    display: block;
    width: 100%;
}
.figimage > figcaption, .figimage-deux > figcaption {
    text-align: center; /* justify ? */
    text-align-last: center;    
    font-style: italic;
    margin-top: 5px;
}

.figimage-deux {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
}
.figimage-deux > a {
    margin: 5px 20px;
}
.figimage-deux > * > img {
    display: block;
    max-width: 350px;
}