/* les figimages utilisées dans /dessins et /images */

.figimage, .figimage-deux {
    padding-bottom: 30px;
    max-width: 500px;
    margin: auto;

    > a:hover, > a:focus {
        background-color: transparent;
    }

    > figcaption {
        text-align: center; /* justify ? */
        text-align-last: center;    
        font-style: italic;
        margin-top: 5px;
    }

}

.figimage img {
    display: block;
    width: 100%;
}

.figimage-deux {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;

    > a {
        margin: 5px 20px;
    }

    img {
        display: block;
        max-width: 350px;
    }
}