/* les grids utilisées dans /galerie */

.grid-container {
    width: 70%;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}
.grid-box {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    > img {
        width: 100%;  
        height: auto;
        padding: 10px;
    }

    :hover {
        background-color:#cccccc;
        box-shadow: 3px 3px 5px black; /* horizontal vertical adoucissement couleur */
    }
}