.carte-container {
    display: flex;
    padding: 10px;
    margin: 10px;
    font-size: 0.9em;

    justify-content: space-evenly;
    align-items: center;
    height: 40%;
    width: 90%;
    gap: 2%;
}

.carte {
    aspect-ratio: 1/2;
    /* height: 100%; */
    width: min(15vw, 15%);
    border: 2px solid black;
    font-family: "Arial";
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    box-shadow: 0 0 10px black; /* horizontal vertical adoucissement couleur */
    border: 3px solid black;
    font-weight: bold;
}

.black { color: black; }
.red { color: red; }
.green { color: green; }
.blue { color: blue; }


.case {
    aspect-ratio: 1/1;
    width: 10vw;
    border: 2px solid black;
    font-family: "Arial";
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}