
.modal {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: green;
    border:  2px solid black;
    border-radius: 15px;
    box-shadow: 2px 3px 8px rgb(80, 80, 80);
    padding: 9px;
}

.btn {
    padding: 5px;
}