:root {
    --background-color: #d2e0e7/*#E4E7f0*/ /*1F2039*/;
    --background-color: #e6e6e6/*#E4E7f0*/ /*1F2039*/;
    --background-color: #fdeab6/*#E4E7f0*/ /*1F2039*/;
    --link-color: #0066CC; /* pour ne pas changer */
    --maxwidth: 1040px; /* 1280px ? */
    --padding: 30px;
}

@font-face {
    font-family: 'Times New Roman';
    src:    
        local('Times New Roman'),
        url('times.ttf') format('truetype');
}

@font-face {
    font-family: 'Times New Roman';
    src:    
        local('Times New Roman Bold'),
        url('times-bold.ttf') format('truetype');
    font-weight: bold;
}

/* @font-face {
    font-family: 'Times New Roman Italic';
    src:
        local('Times New Roman'),
        url('times-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
} */

body {
    max-width: var(--maxwidth);
    margin: auto;
    background-color: var(--background-color);
    /*background: linear-gradient(to left, #8360c3, #2ebf91);*/
    font-family: 'Times New Roman', Times, serif;
}

main {
    padding: var(--padding);
}

a:link {
    color: var(--link-color)
}
a:visited {
    color: var(--link-color)
}
a:hover, a:active, a:focus {
    background-color: #f9ff4c; /* #9beafd; */
    color: red;
}


/* les flex utilisées dans les navbars */

nav {
    background-color: var(--background-color);
    position: sticky;
    top: 0;
    margin: 0;
    font-size: 1.2em;
}

@media screen and (max-width: 940px) {
    nav {
        position:static;
    }
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* flex-grow: 1; */
    padding: 0px;
}

.nav-container > * {
    padding: 15px 0px;
    flex: 1;
    text-align: center;
    vertical-align: middle;
}

.active { /* onglet actif dans la navbar */
    background-color: #f9fd83;
    font-weight: bold;
    color:red;
}


/* header et paragraphes et footer */

header > * {
    text-decoration: none;
}

h1 {
    font-family: "Montserrat", sans-serif;
    /*color: #A5B4FC;*/
    color:white;
    /*-webkit-text-stroke: 5px black;*/
    text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
    font-size: 2em;
    text-align: center;
    background: center / 80px repeat-x url("../img/jej.png");
    padding: 30px;
    margin: 0px;
}

h2 {
    font-size: 1.5em; /* défaut : 1.5em */
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    margin-top: 0.5em; /* défaut : 1.12em */
    /* font-family: 'Cambria', Georgia, serif; */
}

footer {
    padding: 20px 0px 5px 0px;
    font-size: 0.8em; /* par défaut : 16px */
    font-style: italic;
    text-align: center;
}