:root {
    --background-color: #d2e0e7/*#E4E7f0*/ /*1F2039*/;
    --background-color: #e6e6e6/*#E4E7f0*/ /*1F2039*/;
    --background-color: #fdeab6/*#E4E7f0*/ /*1F2039*/;
    --link-color: #0066CC; /* pour ne pas changer */
    --maxwidth: 1040px /* 1280px ? */
}

body {
    max-width: var(--maxwidth);
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--background-color)
    /*background: linear-gradient(to left, #8360c3, #2ebf91);*/
}

header > * {
    text-decoration: none;
}

h1 {
    font-family: "Montserrat", sans-serif;
    /*color: #A5B4FC;*/
    color:white;
    /*-webkit-text-stroke: 5px black;*/
    text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
    font-size: 2em;
    text-align: center;
    background: center / 80px repeat-x url("../img/jej.png");
    padding: 30px;
    margin: 0px;
}

h2 {
    font-size: 1.5em; /* défaut : 1.5em */
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    margin-top: 0.5em; /* défaut : 1.12em */
}

nav {
    background-color: var(--background-color);
    position: sticky;
    top: 0;
    margin: 0;
}

footer {
    padding: 20px 0px 5px 0px
}

table {
    border-collapse: collapse;
    margin: auto;
    width: var(--maxwidth);
    table-layout: fixed;
}

th,
td {
    border: 1px solid black;
    padding: 4px;
    word-wrap:break-word;
}

.hidden {
    display: none;
}

a:link {
    color: var(--link-color)
}

a:visited {
    color: var(--link-color)
}

a:hover, a:active {
    background-color: #f9ff4c; /* #9beafd; */
    color: rgb(255, 0, 0);
}

a:focus {
    background-color: #f9fd83;
    color: red;
}

.lien-externe {
    font-size: 0.8em; /* par défaut : 16px */
    font-style: italic;
}

.lien-interne, .lien-interne:visited {
    font-size: 0.9em; /* par défaut : 16px */
}

.active { /* onglet actif dans la navbar */
    font-size: 0.9em;
    font-weight: bold;
    color:red;
}


/* utilisé dans le footer et dans /videos */
.centered-container {
    text-align: center;
    /* padding: 0px 0px 12px 0px; */
}


/* les flex utilisées dans le footer */
.flex-container {
    padding: 5px 0px 5px 0px;
    display: flex;    
    flex-direction: row; /* valeur par défaut */
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
}
.flex-container > * {
    padding: 10px;
    /* border: 1px solid black; */
    flex: 1;
    text-align: center;
    vertical-align: middle;
}
.flex-container > .active {
    background-color: #f9fd83;
}


/* les grids utilisées dans /galerie */
.grid-container {
    width: 70%;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}
.grid-box {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-box > img {
    width: 100%;  
    height: auto;
    padding: 10px;
}

.grid-box:hover {
    background-color:#cccccc;
    box-shadow: 3px 3px 5px black; /* horizontal vertical adoucissement couleur */
}


/* les figimages utilisées dans /dessins et /images */
.figimage, .figimage2 {
    padding-bottom: 20px;
}

.figimage > a {
    display: block;
    width: calc(400px + 20vw);;
    margin: auto;
}
.figimage > a:hover, .figimage > a:focus, .figimage2 > a:hover, .figimage2 > a:focus {
    background-color: transparent;
}
.figimage > * > img, .figimage > img {
    display: block;
    padding-top: 10px;
    width: calc(400px + 20vw);
    margin: auto;
}
.figimage > figcaption, .figimage2 > figcaption {
    width: calc(400px + 20vw);
    margin: auto;
    text-align: center; /* justify ? */
    text-align-last: center;    
    font-style: italic;
    font-size: 16px;
}

.figimage2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.figimage2 > a {
    display: block;
    margin: 0px 10px 0px 10px;
}
.figimage2 > * > img {
    display: block;
    width: calc(200px + 10vw);
}
.smallfigimage > img, .smallfigimage > * > img {
    display: block;
    padding-top: 10px;
    width: calc(200px + 10vw);
    margin: auto;
}
