/* utilisé dans /postits */
table {
    border-collapse: collapse;
    margin: auto;
    width: calc(var(--maxwidth) - 2* var(--padding));
    table-layout: fixed;
}
th,
td {
    border: 1px solid black;
    padding: 4px;
    word-wrap:break-word;
}
.hidden {
    display: none;
}